<%= form_with model: @room, method: :post, url: new_reservation_path do |f| %>
  <% form_for(@room) do |f| %>
    <div class="container room-show">
      <div class="row">
        <div class="col-md-8">
          <div class="room-show-nav">
            <%= image_tag(show_image_image_path(@roomimage)) %>
          </div>
          <div class="room-show-detile">
            <div class="room-show-detile-icon">
            </div>
            <div class="room-show-profile">
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="room-show-nav">
            <h5 class="price-icon">
            </div>
            <div class="room-show-date-select">
              <%= form_with model: @room, method: :post, url: new_reservation_path do |f| %>
                <%= f.label :start_date, "開始日", {class: "form-control mb-4"}%>
                <%= f.label :end_date, "終了日", {class: "form-control mb-4"}%>
                <%= f.label :guests, "人数", {class: "form-control mb-4"}%>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>