<!DOCTYPE html>
<html>
  <head>
    <title>Myapp203</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <header class ="mt-0">
    <nav class="navbar navbar-expand-lg bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img alt="サイトのロゴ画像" src="https://presite-potepancamp-rails-02.herokuapp.com/assets/logo.png"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="header-sharch collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="エリア" aria-label="Search">
                <i class="bi bi-geo-alt-fill"></i>
              </form>
            </li>
            <li class="nav-item">
              <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="キーワード" aria-label="Search">
                <i class="bi bi-search"></i>
              </form>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <% if user_signed_in? %>
              <% if user.userimages.present? %>
                <il>
                  <%= image_tag @user.userimages.url %>
                </il>
                <li>
                  <%= current_user.name %>
                </li>
              <% else %>
                <il>
                  # ユーザーアイコン
                </il>
                <li>
                  <%= current_user.name %>
                </li>
              <% end %>
            <% else %>
              <li>
                <button type="button" class="btn btn-primary btn-lg m-2">
                  <a href="/users/sign_in" class ="text-white text-decoration-none">ログイン</a>
                </button>
              </li>
              <li>
                <button type="button" class="btn btn-secondary btn-lg m-2" >
                  <a href="/users/sign_up" class ="text-white text-decoration-none">登録する</a>
                </button>
              </li>
            <% end %>
          </form>
        </div>
      </div>
    </nav>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </header>
  <%= yield %>
  <footer class ="bg-dark text-white w-100 h-100 mt-5">
    <div class="text-center p-5" style="background-color: rgba(0, 0, 0, 0.08);">
      © 2020 POTEPAN.INC.
    </div>
  </footer>
</html>